<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pokemon.name %></title>
    <meta property="og:title" content="<%= pokemon.name %>" />
    <meta property="og:description" content="<%= pokemon.description %>" />
    <meta property="og:type" content="article" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/vichdev/club-napista/master/src/assets/1_11zon.jpg"
    />
  </head>
  <body>
    <div>
      <img src="<%= pokemon.img %>" alt="" />
    </div>
  </body>
</html>
